.App {
  text-align: center;
}

.app-title {
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #0ccac4;
}

.monsters-search-box {
  border: none;
  outline: none;
  padding: 10px;
  width: 200px;
  line-height: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  font-size: 16px;
}
